html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

body {
  background: red !important;
}

.nav {
  float: right;
}

#about-image {
  float: left;
  margin: 10px;
}

.block {
  background-color: yellow;
  padding: 30px;
  margin-bottom: 30px;
}
